.userps {
    margin-left: 30%;
}

.img {
    background-image: url('http://source.unsplash.com/1400x1400/?books');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
}

.std-div {
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.student-quoute {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}

.tab-dash {
    margin-top: -28.5rem;
    margin-left: 330px;
    width: 800px;
    height: 400px;
    background: linear-gradient(to right, #A2C5FE, #C2E9FC);
    border-radius: 10px;
    position: relative;
}

.side-bar {
    width: 200px;
    height: 700px;
    background-color: red;
    margin-top: -500px;
    margin-left: 50px;
    border-radius: 30px;
}

.our-courses {
    margin-top: -600px;
}

.dash-img {
    background-image: url('http://source.unsplash.com/1400x1400/?white');
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.ggg {
    display: flex;
    justify-content: center;
}

.upercard {
    display: flex;
    width: 40%px;
    margin-left: 18%;
}